<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Add Photo
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

  <div [hidden]="loading">
    <ion-img [src]="imageData" (error)="loadDefault()"></ion-img>
    <ion-button color="primary" expand="full" (click)="takePicture()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Take Picture
    </ion-button>
    
    <ion-button [hidden]="!imageExist" color="secondary" expand="full" (click)="uploadPicture()">
      <ion-icon slot="start" name="cloud-upload"></ion-icon>
      Upload Picture
    </ion-button>
  </div>

  <div [hidden]="!loading">
      <ion-item>
        <h3>Uploading Data Please Wait</h3>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-item>
  </div>
</ion-content>
