<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Listing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img [src]="url" (error)="handleNoImage()" *ngIf="isImage">
    <ion-card-header>
      <ion-card-title class="ion-text-wrap">
        {{ listing.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ listing.address }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Phone Number
    </ion-card-header>
    <ion-list>
      <ion-item *ngIf="savedPhones.length === 0">
        Sorry No Contact Information Present.
      </ion-item>
      <ion-item *ngFor="let phone of savedPhones"  href="tel:{{phone}}">
        <ion-label>
          {{ phone }}
        </ion-label>
        <ion-icon name="call"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <div class="center-aligned">
    <ion-button color="primary" [hidden]="authLevel <= 1" (click)="editListing()">
      <ion-icon slot="start" name="create"></ion-icon>
      Edit
    </ion-button>
    <ion-button color="secondary" [hidden]="authLevel <= 1" [routerLink]="['/add-photo', listing.id]">
      <ion-icon slot="start" name="camera"></ion-icon>
      Add Photo
    </ion-button>
    <ion-button color="danger" [hidden]="authLevel <= 1" (click)="deleteListing()">
      <ion-icon slot="start" name="trash"></ion-icon>
      Delete
    </ion-button>
  </div>
</ion-content>

<!-- href="/add-photo/{{ listing.id }}" -->