<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Listing
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-wrap">
        {{ listing.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        {{ listing.address }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      Phone Number
    </ion-list-header>
    <ion-item *ngFor="let phone of savedPhones" lines="full">
      <ion-label>
        {{ phone }}
      </ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-button expand="full" [hidden]="authLevel <= 1" (click)="editListing()">
    Edit
  </ion-button>
  <ion-button expand="full" href="/add-photo/{{ listing.id }}">Add Photo</ion-button>
  <ion-button expand="full" color="danger" [hidden]="authLevel <= 1" (click)="deleteListing()">
    Delete
  </ion-button>
</ion-content>
