<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <p>Please Enter Username and Password to Access Admin Account</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        Username
      </ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item [hidden]="message.length === 0" >
    <ion-note color="primary">
      {{ message }}
    </ion-note>
  </ion-item>

  <ion-button expand="block" size="large" [hidden]="isHidden" (click)="logIn()">
      Log In
  </ion-button>
  

</ion-content>
