<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">
        Username
      </ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item [hidden]="message.length === 0" >
    <ion-note color="primary">
      {{ message }}
    </ion-note>
  </ion-item>
  
  <div class="center-aligned">
  <ion-button expand="full" size="large" [hidden]="isHidden" (click)="logIn()">
      <ion-icon slot="start" name="log-in"></ion-icon>
      Submit
    </ion-button>
  </div>

</ion-content>
