<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [hidden]="!loading">
    <ion-label>
      Loading Please Wait...
    </ion-label>
    <ion-spinner></ion-spinner>
  </ion-item>
  <ion-list [hidden]="loading">
    <ion-item>
      <ion-label position="stacked">Business Name</ion-label>
      <ion-input [(ngModel)]="listing.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-textarea row="5" [(ngModel)]="listing.address"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        City
      </ion-label>
      <ion-select [(ngModel)]="listing.city_id">
          <ion-select-option *ngFor="let city of cities" [value]="city.id">{{ city.title }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Category
      </ion-label>
      <ion-select [(ngModel)]="listing.category_id">
        <ion-select-option *ngFor="let category of cs.getAll()" [value]="category.id">{{ category.title }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" size="large" [hidden]="listing.id >= 1" (click)="save()">Submit</ion-button>
  <ion-button expand="block" size="large" [hidden]="listing.id < 1" (click)="update()">Update</ion-button>

</ion-content>