<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">
      City
    </ion-label>
    <ion-select [(ngModel)]="city_id" (ionChange)="getCount()">
      <ion-select-option *ngFor="let city of cities" [value]="city.id">{{ city.title }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-select (ionChange)="getCount()" [(ngModel)]="category_id">
      <ion-select-option *ngFor="let category of cs.getAll()" [value]="category.id">{{ category.title }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item [hidden]="!isLoading">
      <ion-label>
        <h3>
          Please Wait...
        </h3>
      </ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
    <ion-item *ngFor="let listing of listings" (click)="goto(listing.id)" lines="full">
      <ion-label>
        <h3>{{ listing.title }}</h3>
        <p>{{ listing.address }}</p>
      </ion-label>

    </ion-item>
    <ion-button expand="full" (click)="next()" [hidden]="limit.max <= limit.offset">
      More
    </ion-button>
  </ion-list>


</ion-content>